$BANNER_TEXT_COLOR: #ddd;

$FONT_FAMILY_LIST: "Amatic SC", sans-serif;
$FULL_WIDTH: 100%;
$SET_TO_CENTER: center;

.banner {
  color: $BANNER_TEXT_COLOR;
  margin: auto auto auto 0;
  text-align: center;
  width: 69%;
}

.welcomeFromAuthor {
  color: #deaa86;
  font-size: 10rem;
  padding: 2rem;
}

.landingContainer-bottom {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

.foxMinesGems {
  padding-right: 0;
  width: 50%;
  display: inline-flex;
  justify-content: $SET_TO_CENTER;

}

.foxMinesGemPower {
  border-radius: 15px;
}

.landing-subheader {
  color: #deaa86;
  width: $FULL_WIDTH;
  white-space: pre-wrap;
}

.banner-heading {
  font-family: $FONT_FAMILY_LIST;
  font-size: 7rem;
  word-break: break-word;
}