/*@font-face {
  font-family: 'Pixeboy';
  src: url("https://www.dropbox.com/s/hpyswe37bd6lrne/pixeboy.ttf?raw=1");
}*/

hgroup {
  margin: 0 7% 10%;
}

#employment {
  height: 100%;
  margin-left: 10rem;
  overflow: hidden;
}

.controlpad {
  padding-top: 5rem;
  height: 65%;
}

.gameScreen {
  display: flex;
  height: 100rem;
  text-align: center;
}

.left_sidePanel {
  background: url("https://www.dropbox.com/s/rrisrr2h18ndldb/sdD.gif?raw=1") no-repeat;
  background-size: 100% 100%;
  width: 52%;
  height: 100%;
}

.employmentSelections {
  height: 100%;
}

.techEmployment {
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.restaurantEmployment {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}


.employmentHeading {
  color: #9bbc0f;
  background: rgba(0, 0, 0, .6);
  font-family: Pixeboy, sans-serif;
  font-size: 6rem;
  letter-spacing: 10px;
}

.employmentTypes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 5rem auto;
}

.employment_panel > p {
  margin: 0 0 15px;
}

.employment_panel {
  background: transparent;
  border: none;
}

.employmentButton {
  padding: 15px 25px;
  font-size: 2.5rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: Pixeboy, sans-serif;
}

.employmentButton:hover {background-color: #3e8e41}

.employmentButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.companyName {
  font-family: Pixeboy, sans-serif;
  font-size: 6rem;
  color: #8bac0f;
  letter-spacing: 10px;
  margin-bottom: 5rem;
}

.jobRole {
  color: #9bbc0f;
  font-size: 2.5rem;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  letter-spacing: 1.25rem;
  margin-bottom: 5rem;
}

.detailContent {
  color: #ccc;
  font-family: Ubuntu, sans-serif;
  font-size: 3rem;
  text-align: left;
}

.acquisitionBy {
  font-size: 1.75rem;
  font-family: Ubuntu, sans-serif;
  color: #aaaaaa;
  padding: 10px;
  letter-spacing: .1em;
  text-align: left;
}

.employmentLength {
  font-family: Ubuntu, sans-serif;
  color: #ddd;
  font-size: 1.5rem;
}

.card, .card-body {
  background: transparent;
}

.right_sidePanel {
  background: rgba(0, 0, 0, .9);
  overflow-y: auto;
}

.current_employment {
  border-left: 2px solid greenyellow;
}

.previous_employment {
  border-left: 1px solid #fff;
}

.blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 3s linear infinite condemned_blink_effect;
}

@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.imageLoadingContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loadingImg {
  width: 200px;
  align-self: center;
}

.loadingMessage {
  color: #9bbc0f;
  font-family: 'Pixeboy', sans-serif;
  font-size: 5rem;
}

.msgShell {
  align-items: center;
  display: flex;
  justify-content: center;
}

.loadingGameScreen {
  display: flex;
}

.Typewriter__cursor {
  color: black;
  height: 0;
  width: 0;
}