.contactArticle {
  display: inline-flex;
}

.getInTouch {
  text-align: center;
  margin: 2rem 0;
}

.getInTouch__header {
  color: #fff;
  font-family: "Amatic SC", sans-serif;
  font-size: 8rem;
  padding: 4% 0 0 0;
  text-align: center;
}

/*.getInTouch {
  position: relative;
}*/

.contactSectionPanel {
  margin: 6rem auto;
  font-family: 'Josefin Slab', serif;
}

.contact__Blurb {
  text-align: center;
  margin-bottom: 8rem;
}

.contact__paragraph {
  font-size: 3rem;
/*  font-family: 'Oswald', sans-serif;*/
  color: #fff;
  line-height: 2;
}

.contactMethod {
  width: 40%;
  margin: 0 auto;
  text-align: left;
}

.closingMessage {
  display: flex;
}