.contactPanel {
  display: flex;
}

.contactSection {
  padding: 4rem 6rem;
  text-align: center;
  width: 50%;
}

.contactParagraph {
  font-size: 5rem;
  color: #fff;
  line-height: 1.5;
}

.contactSubContainer {
  margin: 3rem auto;
  width: 50%;
}

.contacts_1,
.contacts_2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.contacts_2 {
  color: #fff;
  list-style: none;
  margin-bottom: 0;
}

.halp {
  color: red;
}