$BANNER_TEXT_COLOR: #ddd;

$FONT_FAMILY_LIST: "Amatic SC", sans-serif;
$FULL_WIDTH: 100%;
$SET_TO_CENTER: center;

.splashRow {
  height: 100vh;
}

.banner {
  color: $BANNER_TEXT_COLOR;
  /*margin: auto auto auto 0;*/
  width: 100%;
  margin-top: 2rem;
  height: 100vh;
}

.welcomeFromAuthor {
  color: #deaa86;
  font-size: 4rem;
  margin: 6rem 0;
  max-width: 540px;
}

.welcomeFromAuthor_1 {

}

.landingContainer-bottom {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

.foxMinesGems {
  padding-right: 0;
  display: inline-flex;
  justify-content: $SET_TO_CENTER;

}

.foxMinesGemPower {
  border-radius: 15px;
}

.landing-subheader {
  color: #deaa86;
  width: $FULL_WIDTH;
  white-space: pre-wrap;
  text-align: center;
}

.banner-heading {
  font-family: $FONT_FAMILY_LIST;
  font-size: 3.5rem;
  word-break: break-word;
}

.site_name {
  font-size: 1rem;
  color: black;
}

@media(max-width: 915px) {
  .welcomeFromAuthor {
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
  }

  .typewriterStyle {
    font-size: 2rem;
  }

  .banner-heading {
    font-size: 2rem;
  }

  .crystalAndTypewrite {
    margin-top: 0!important;
  }

  .about__SectionTitle {
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem 0;
    margin: 0;
  }
}