.Typewriter {
  margin: 1rem 0;
}

.typewriterStyle {
  font-family: "Amatic SC", sans-serif;
  font-size: 3rem;
}

/*  Uncomment to set an orange cursor
!* The typewriter cursor effect *!
.Typewriter__cursor {
  color: orange;
  font-size: 10rem;
}*/