footer {
  margin-left: 8rem;
  font-size: 3rem;
  color: white;
}

.explanationBody {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.explanationLabel {
  font-size: 4rem;
  font-weight: bolder;
  outline-color: transparent;
  text-align: center;
}

.expCenter {
  text-align: center;
}

.siteCreatorStamp {
  text-align: center;
  font-size: 4.5rem;
}

.expIntro {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.expGemList,
.expChildhood,
.expTeenToToday,
.expLeadIn,
.expLapidaries,
.expClosingStatement {
  font-size: 2.5rem;
  line-height: 5rem;
  letter-spacing: .1em;
  margin-bottom: 2rem;
  width: 51%;
}

.expChildhood {
  width: 60%;
}

.expTeenToToday {
  width: 60%;
}

.expLeadIn {
  width: 48%;
  line-height: 5rem;
}

.expLapidaries {
  width: 60%;
  line-height: 5rem;
}

.expCenter {
  font-size: 4rem!important;
}

.gemTroveButton {
  text-align: center;
}

.theGemTrove__Explanation {
  color: #000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.theGemTrove__ExplanationParagraph {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 2.75;
  letter-spacing: 3px;
}

#thankYou__footer {
  margin-top: 2rem;
  color: #000;
  text-align: center;
}

.gemTroveButton__label {
  font-size: 2rem!important;
  line-height: 2.75;
  letter-spacing: 3px;
}

@media(max-width: 915px) {
  .gemTroveButton__label {
    font-size: .9rem!important;
  }

  .theGemTrove__Explanation, .theGemTrove__ExplanationParagraph {
    width: 100%;
    font-size: 1rem;
  }
}
