@use 'sass:math';
//Image Imports
$background_ArizonaSunset_URL: url("https://www.dropbox.com/s/mcyv7wjlqly8l3k/arizonaSunset.jpg?raw=1");

//General Style Vars
$centerIt: center !important;
$coverTheBackground: 100% 100%;
$fullPercent: 100%;
$adjustForSidebar: 8em;
$resetToZero: 0;

.aboutAnchor {
  height: $fullPercent;
  background-image: $background_ArizonaSunset_URL;
  background-repeat: no-repeat;
  background-size: $coverTheBackground;
  margin-left: 8rem;
}

.about__SectionTitle {
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
  padding: 2rem 0;
  margin: 0;
}

.aboutArticle_Header {
  color: #fff;
  font-family: "Amatic SC", sans-serif;
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
}


.aboutMe,
.blurb,
.finalMessage,
.pastEmployment,
.thankYou,
.welcome,
.whyGemTrove_lead,
.whyGemTrove,
.pseudoExplanation {
  color: #fff;
  font-family: 'Josephin Slab', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 2;
  text-align: left;
}

.farewell {
  text-align: center !important;
}

.pseudoExplanation {
  text-align: center;
}

.whyGemTrove {
  text-align: center;
}

.accompanyingPhoto,
.accompanyingPhoto_Left,
.accompanyingPhoto_Right {
  width: 25%;
}

.accompanyingPhoto_Left {
  float: left;
}

.accompanyingPhoto_Right {
  float: right;
}

.aboutMe_panel {
  background: rgba(0, 0, 0, .7);
  border-radius: 10px;
  margin: 0 auto;
  padding: 3rem;
}

.setTextBuffer {
  padding-right: 3rem;
}

.intro_1,
.intro_2 {
  padding-right: 3rem;
  text-align: left;
}
.intro_2 {
  margin: 0 5rem;
}

.finalMessage,
.farewell {
  text-align: center;
}

.finalMessage {
  margin-top: 2rem;
}

.sandwichedText {
  display: flex;
  align-items: center;
}

/*Override Bootstrap Styles*/
.card,
.card-body {
  background: #ddd!important;
}

.photoSpread {
  display: flex;
  flex-direction: row;
  margin-right: $resetToZero;
  margin-left: $resetToZero;
  width: $fullPercent;
}

.card-text {
  font-family: "Amatic SC", sans-serif;
  text-align: $centerIt;
}

.about__cardText {
  font-size: 2rem!important;
  margin: 0;
}
/*End Of Override*/

.familyAlbum {
  display: flex;
  width: 100%;
}

.familyPhotoDim {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.finalBioSection {
  display: flex;
  justify-content: space-around;
}
.creatorPortrait__container {
  align-self: center;
  margin: 0 auto!important;
  text-align: left;
  width: 25%;
}
.creatorPortrait {
  border-radius: 100%;
  width: 50%;
  margin: 0 auto;
}

.thankyouFriends {
  margin: 3rem 0;
}

.finalGratitudes {
  align-self: center;
}

.familyRow {
  padding: 2rem 8rem;
  width: 75%;
}

.fullScreenLayout {
  display: flex;
  flex-direction: row-reverse;
}

.hunterAndReganRow {
  width: 40rem;
}

.friendsAlbum {
  justify-content: space-evenly;
}

a.carousel-control-prev {
  left: 5rem!important;
}

a.carousel-control-next {
  right: 5rem!important;
}

.carouselBg {
  background: rgba(0, 0, 0, .85);
}

.carousel-caption {
  background: rgba(0, 0, 0, .7);
}

.aboutPhotoLabel {
  font-size: 2rem;
}

.aboutPhotoParagraph {
  font-size: 1.25rem;
}

.carouselBg {
  width: 50%;
  margin: 0 auto;
}

@media(max-width: 915px) {
  .about__SectionTitle {
    font-size: 2rem!important;
  }
  p.blurb, .pastEmployment, .finalGratitudes, p.finalMessage {
    font-size: 1.4rem;
  }
  .accompanyingPhoto_Left {
    float: none;
    padding-right: 0;
  }
  .accompanyingPhoto, .accompanyingPhoto_Left, .accompanyingPhoto_Right {
    width: 100%!important;
    margin-bottom: 2rem;
  }
  .setTextBuffer {
    padding-right: 0;
  }

  .intro_2 {
    margin: 0;
  }
  .intro_2 {
    padding-right: 0;
  }

  .about__cardText {
    font-size: 1.25rem !important;
  }

  .carouselBg {
    width: 100%!important;
    margin: 0;
  }

  a.carousel-control-prev {
    left: 0 !important;
  }
  a.carousel-control-next {
    right: 0 !important;
  }

  .friendPhoto {
    max-width: 300px!important;
    max-height: 500px!important;
  }

  .carousel-item {
    max-width: 300px!important;
    max-height: 500px!important;
  }
}