.knowledgeStyles {
  height: 100%;
  background: url("https://www.dropbox.com/s/nzmime5ngg2lbd9/newBlackboard.png?raw=1") no-repeat;
  background-size: cover;
}

.schoolName {
  font-family: 'Fredericka the Great', cursive;
  font-weight: lighter!important;
}

.educationPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.alternativeEducations {
  height: inherit;
  width: 50%;
}

.almaMaters {
  border-right: 1px solid white;
  width: 50%;
  text-align: center;
}

.almaMaterHeader {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
  margin: 0;
}

.mater {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  padding-top: 2.5%;
}

.materDetails {
  color: white;
}

.externalResources {
}

.diplomaIcon,
.extIcon {
  cursor: pointer;
  color: #fff;
  font-size: 5rem;
  margin: 1rem 2rem 2rem 2rem;
}

.schoolName {
  color: #ddd;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.75;
  margin-bottom: 0;
}

.genIndustryHeading {
  color: #ddd;
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
  line-height: 1.75;
}

.schoolName > a {
  color: #ddd;
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
}

.degree {
  font-size: 3.75rem;
}

.degreeFocus {
  font-size: 3.5rem;
}

.yearDegreeObtained {
  font-size: 3rem;
}

.eduIcon {
  margin: 0 2rem;
}

.extIcon {
  color: green;
}

.certificates {
  display: flex;
  height: inherit;
  justify-content: space-evenly;
}

.cert {
  margin: 2rem 0;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
  display: flex;
}

.certContainer {
  display: flex;
  flex-direction: column;
}

.certTitle {
  font-size: 3rem;
  font-weight: bold;
}

.certIssuer,
.issueDate,
.credentialID {
  font-size: 3rem;
}

.cId {
  color: #fff;
  font-family: 'Anton', sans-serif;
}

.certCarousel {
  width: 26%;
  margin: 0 auto;
}

.techCertIcon {
  color: green;
  font-size: 5rem;
}

.certDetailPanel {
  color: #fff;
  margin-left: 2rem;
}

.hardEducation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selfLearningCerts {
  padding: 3rem 0;
}

.softEducation {
  padding-bottom: 5rem;
}

.selfLearningStyles {
  text-align: center;
}

.bookEntry {
  color: white;
  font-size: 5rem;
  font-family: 'Amatic SC';
}

.booksListHeader {
  border-top: 1px solid white;
  color: white;
  font-family: "Fredericka the Great", cursive;
  font-size: 5rem;
  text-align: center;
  width: 100%;
  padding: 3rem 0;
  margin: 0 auto;
}

.bookListTitle {
  text-align: center;
  border-top: 1px solid white;
}

.bookListType {
  color: white;
  font-family: "Fredericka the Great", cursive;
  font-size: 4rem;
  text-align: left;
}

.orderedBookList {
  width: 70%;
  margin: 0 auto 6rem auto;
  text-align: left;
}

.certContainer {
  display: flex;
  flex-direction: initial;
}

.certBuffer {
  padding: 1rem;
}

.mongoCerts {
  align-items: center;
}

.certificationContainer {
  padding: 0 10rem;
}

.individualCertContainer {
  padding: 1rem;
}

.verifiedSkills {
  width: 50%;
}

@media(max-width: 915px) {
  .almaMaterHeader {
    font-size: 2rem;
  }
}