// Sizes
$BASE_SIZE: 2rem;

// Colors
$BRAND_COLOR: #deaa86;

// Font Families
$FONT_FAMILY_LIST: 'Amatic SC', sans-serif;

.brand {
  color: $BRAND_COLOR;
  font-family: $FONT_FAMILY_LIST;
  font-size: ($BASE_SIZE * 2);
  font-weight: bolder;
  letter-spacing: .3rem;
  width: 350px;
}

.trove-of-gems {
  background-image: radial-gradient(circle at -100%, #333, #333 50%, #eee 75%, #333 75%, #000);
  width: 350px;
}