.bookList {
}

.bookEntry {
  font-size: 4rem!important;
  font-weight: bolder;
  margin: 3rem 0;
}

.bookAuthor {
  font-weight: lighter;
}

.readingPanel {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.booksListHeader {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 4rem;
  color: white;
  margin: 0 auto;
  width: 100%;;
}

.bookListType {
  font-size: 4.6rem!important;
}