#education {
  margin-left: 8rem;
}

.schoolEntry {
  background-color: #eee;
  display: flex;
  flex-direction: row;
}

.educationBreak {
  margin: 0;
  padding: 0;
}

.school__name {
  font-family: "Fredericka the Great", cursive;
  font-size: 2.75rem;
  text-align: center;
}

.dates__attended {
  font-family: "Fredericka the Great", cursive;
  font-size: 2.25rem;
  margin-bottom: 0;
  text-align: center;
}

.degree__obtained {
  font-family: "Fredericka the Great", cursive;
  font-size: 2.25rem;
  margin-top: .25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.schoolWrapper {
  display: flex;
  flex-direction: column;
}

.schoolDetails {
  padding: 2rem;
  width: 50%;
}

.school_highlights {
  font-family: "Fredericka the Great", cursive;
  font-size: 2.25rem;
  width: 60%;
  margin: 0 auto;
}

.school_highlight_list {
  font-family: "Fredericka the Great", cursive;
  font-size: 2rem;
  width: 50%;
  margin: 0 auto;
}

.educationSeparator {
  margin: 0;
  padding: 0;
}

@media(max-width: 915px) {
  .school {
    display: flex;
    flex-direction: column;
  }

  .schoolEntry {
    flex-direction: column;
  }

  .schoolDetails {
    width: 100%;
  }

  .schoolPhoto {
    width: 100%!important;
  }

  .school__name {
    font-size: 2rem;
  }

  .school_highlights {
    width: 100%;
    font-size: 1.75rem;
  }

  .dates__attended, .degree__obtained {
    font-size: 1.5rem;
  }

  .school_highlight_list {
    font-size: 1.5rem;
    margin-bottom: 0;
    width: 90%;
  }
}